In [2]:
import pandas as pd
print("Imported")

Imported

In [3]:
df = pd.read_csv("C:/Users/j4c0b/Downloads/Super_store/train.csv")

In [20]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Month,Year
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,11,2017
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,11,2017
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,6,2017
3,4,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,10,2016
4,5,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,10,2016

In [5]:
df.shape

(9800, 18)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9800 non-null   object
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(1), int64(1), object(16)
memory usage: 1.3+ MB

In [7]:
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [10]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [9]:
df['Postal Code'] = (df['Postal Code'].fillna(0).astype(int).astype(str))

In [13]:
df['Order Date'] = pd.to_datetime(df['Order Date'], format='mixed', dayfirst=True)

In [16]:
df = df.drop_duplicates(subset=['Order ID', 'Product Name', 'Sales'])

In [19]:
df = df.copy()
df.loc[:, 'Month'] = df['Order Date'].dt.month
df.loc[:, 'Year'] = df['Order Date'].dt.year

In [22]:
total_sales = df['Sales'].sum()

print("Total Sales:", total_sales)

Total Sales: 2261255.4107

In [23]:
category_sales = df.groupby('Category')['Sales'].sum().sort_values(ascending=False)
category_sales

Category
Technology         827455.8730
Furniture          728377.2037
Office Supplies    705422.3340
Name: Sales, dtype: float64

In [26]:
region_profit = df.groupby('Region')['Sales'].sum().sort_values(ascending=False)
region_profit

Region
West       710219.6845
East       669237.3540
Central    492646.9132
South      389151.4590
Name: Sales, dtype: float64

In [27]:
monthly_sales = df.groupby(['Year','Month'])['Sales'].sum().reset_index()
monthly_sales

    Year  Month        Sales
0   2015      1   14205.7070
1   2015      2    4519.8920
2   2015      3   55205.7970
3   2015      4   27625.4830
4   2015      5   23644.3030
5   2015      6   34322.9356
6   2015      7   33781.5430
7   2015      8   27117.5365
8   2015      9   81623.5268
9   2015     10   31453.3930
10  2015     11   77907.6607
11  2015     12   68167.0585
12  2016      1   18066.9576
13  2016      2   11951.4110
14  2016      3   32339.3184
15  2016      4   34154.4685
16  2016      5   29959.5305
17  2016      6   23599.3740
18  2016      7   28608.2590
19  2016      8   36818.3422
20  2016      9   63133.6060
21  2016     10   31011.7375
22  2016     11   75249.3995
23  2016     12   74543.6012
24  2017      1   18542.4910
25  2017      2   22978.8150
26  2017      3   51165.0590
27  2017      4   38679.7670
28  2017      5   56656.9080
29  2017      6   39724.4860
30  2017      7   38320.7830
31  2017      8   30542.2003
32  2017      9   69193.3909
33  2017     10   59583.0330
34  2017     11   79066.4958
35  2017     12   95739.1210
36  2018      1   43476.4740
37  2018      2   19920.9974
38  2018      3   58863.4128
39  2018      4   35541.9101
40  2018      5   43825.9822
41  2018      6   48190.7277
42  2018      7   44825.1040
43  2018      8   62837.8480
44  2018      9   86152.8880
45  2018     10   77448.1312
46  2018     11  117938.1550
47  2018     12   83030.3888

In [28]:
df[['Sales']].corr()

       Sales
Sales    1.0

In [29]:
df.to_csv("cleaned_superstore_sales.csv", index=False)

In [31]:
from sqlalchemy import create_engine

username = 'root'
password = '1721'
host = 'localhost'
database = 'super_store'

engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")

table_name = "store"
df.to_sql(table_name,engine,if_exists="replace", index=False)

print("Data sucessfully loaded into table",table_name,"in database",database)

Data sucessfully loaded into table store in database super_store